@import "./_variables.scss";
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "./_overrides.scss";
@import "./custom.scss";
@import "./loaders.scss";

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-size: cover;
background-position: center;
}

main {
  flex-grow: 1;
}

// bounding container for clock and name
.text-card
{
    background-color: rgba(35, 35, 35, 0.7);
    border-radius: 8px;
    backdrop-filter: blur(3px);
}

// bounding container for todo list
.todo
{
    position: absolute;
    bottom: 15vh;
    right: 0px;
}

#clock
{
    font-size: 10em;
}

#name, #name:focus
{
    background-color: rgba(0, 0, 0, 0);
    outline: none;
    border: none;
}